<!--<div class="row">
    <div class="col-md-6">
        <bar-chart></bar-chart>
    </div>
    <div class="col-md-6">
    </div>
</div>-->
<div class="row">
    <div class="col-md-6">
                <h2 >Issues for {{vm.name}}</h2>
            </div>
     <div class="col-md-6 filterSection">
                <span class="pull-right">Filter: <input ng-model="issueName" /> </span>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
           <!-- List group -->
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="issue in vm.listIssues | filter: issueName">
                        <div class="row">
                            <div class="col-md-10">
                                Title: {{issue.title}}
                            </div>
                            <div>
                                State: {{issue.state}}
                            </div>

                        </div>
                    </li>
                </ul>
    </div>
</div>