<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6 countWidget countWidgetGreenBg">
        <p class="count">{{vm.watchers}}</p>
        <p>Watchers</p>
      </div>
      <div class="col-md-6 countWidget countWidgetGreyBg">
        <p class="count">{{vm.forks}}</p>
        <p>forks</p>
      </div>
    </div>
     <div class="row">
      <div class="col-md-6 countWidget countWidgetGreyBg">
        <p class="count">{{vm.issues}}</p>
        <p>issues</p>
      </div>
      <div class="col-md-6 countWidget countWidgetBlueBg">
        <p class="count">{{vm.watchers}}</p>
        <p>Watchers</p>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <just-gage id="test2" min=0 max=1000 value="vm.watchers" title="Watchers" width="200px" height="160px"></just-gage>
  </div>
</div>

<!--<div class="row">
  <div class="col-md-6">

    <just-gage id="test2" min=0 max=1000 value="vm.watchers" title="Watchers" donut=true></just-gage>
  </div>
  <div class="col-md-6">
    <just-gage id="test1" min=0 max=1000 value="vm.issues" title="Open Issues"></just-gage>
  </div>
</div>-->

<!--<div class="row">
  <div class="col-md-6">
    <bar-chart forks="{{vm.forks}}" issues="{{vm.issues}}" watchers="{{vm.watchers}}"></bar-chart>
  </div>
  <div class="col-md-6">

  </div>
</div>-->

